* {
    margin:0;
    padding:0;
}

body {
    font-family: sans-serif;
}

.hero-section{
    background: linear-gradient(to bottom, #b3e8fa 0%, #ff99cc 100%);
    background-repeat: no-repeat; 
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    padding: 14px; 
    border-radius: 20px;
    border: none;
}

@media screen and (max-width: 768px) {
    nav p {
        padding-left: 5px; 
        font-size: 15px; 
        color: #ff99cc;
    }

    ul{
        margin-left: 20px;
        padding: 10px;
    }

    .nav {
        font-size: 10px;
        display: block;
        padding: 0 10px ; 
    }
}

nav p {
    padding-top: 10px;
    padding-left: 30px;
    font-weight: bold; 
    font-size: 20px; 
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 50px;
    padding: 5px;
}

.nav {
    text-decoration: none;
    font-weight: bolder;
    list-style: none;
    font-size: 20px;
    color:  #83d3ee;
    text-shadow: 1px 2px #ff99c0;
}

.nav:hover {
    color: #ff99cc;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: 10px;
}

.home img {
    /* height: 550px; */
    height: 42vw;
    width: 100%;
    border-radius: 20px;
}

.home .home-intro {
    font-size: 40px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    padding-left: 40px;
}
.home .home-intro h2 {
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .home {
        column-gap: 15px;
    }

    .home img {
        height: 50vw;
    }

    .home .home-intro {
        font-size: 25px;
        padding-left: 25px;
    }

    .home .home-intro h2 {
        font-size: 20px;
    }
}

.content-section {
    margin: 5px 20px;
    /* background-color: #FFE6E6; */
}

@media screen and (max-width: 768px) {
    .content-section {
        margin: 20px 40px;
    }
}

.about {
    line-height: 25px; 
    padding:30px;
    background-color: #eff5f7;
}

.about-writeup h3 {
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.about-writeup p{
    font-size: 20px;
}


.skills-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-color: #f0dff5;
}

.skills-img img {
    height: 20vw;
    width: 100%;
}


.project {
    padding: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color:#fad5e7;
}

#p-img {
    border-radius: 10%;
    padding: 5px;
    width: 500px;
    max-width: 100%;
    height: 300px;
    /* margin-top: 20px; */
}

.p3-img {
    margin-top: 30px;
}

footer {
    padding: 10px 15px 10px 15px;
    background-color:#faaad2;
}

.logo-space {
    width: 30px;
    max-width: 100%;
    height: auto;
}

#logo1, #logo2, #logo3 {
    padding: 10px;
}

